# Copyright (c) 2025, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "janitor.fullname" . }}
  labels:
    {{- include "janitor.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
  - patch
  - update
  - delete
- apiGroups:
    - ""
  resources:
    - pods
  verbs:
    - get
    - list
    - watch
    - patch
- apiGroups:
    - batch
  resources:
    - jobs
  verbs:
    - get
    - list
    - watch
    - create
    - delete
    - patch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - delete
- apiGroups:
  - janitor.dgxc.nvidia.com
  resources:
  - rebootnodes
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - janitor.dgxc.nvidia.com
  resources:
  - rebootnodes/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - janitor.dgxc.nvidia.com
  resources:
  - rebootnodes/finalizers
  verbs:
  - update
- apiGroups:
  - janitor.dgxc.nvidia.com
  resources:
  - terminatenodes
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - janitor.dgxc.nvidia.com
  resources:
  - terminatenodes/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - janitor.dgxc.nvidia.com
  resources:
  - terminatenodes/finalizers
  verbs:
  - update
- apiGroups:
  - janitor.dgxc.nvidia.com
  resources:
  - gpuresets
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - janitor.dgxc.nvidia.com
  resources:
  - gpuresets/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - janitor.dgxc.nvidia.com
  resources:
  - gpuresets/finalizers
  verbs:
  - update
